aside {
    width: auto;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
    padding: 1.25rem 1.25rem;
    color: #fff;
}



aside .icon-text {
    display: none;
    vertical-align: middle;
    padding-left: 1.25rem;
}





/* Aside Media Query */

@media screen and (min-width: 992px) {
    aside .icon-text {
        display: initial;
    }
}