/* Utilities */


.ms-hover:hover {
    background-color: rgb(224, 222, 222);
}

.ms-btn {
    border: 1px solid #fff;
    color: #fff;
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    font-weight: 400;
    background-color: transparent;
    border-radius: 0.3125rem;
}

.ms-btn:hover {
    color: #0000ff;
    border-color: #0000ff;
    background-color: #fff;
}

.ms-dark-blue {
    background-color: #165bba;
}

.ms-show-lg {
    display: none;
}

.bottom-area > * {
    vertical-align: middle;
}








/* Media Queries */

@media screen and (min-width: 992px) {
    .ms-show-lg {
        display: initial;
    }
    .ms-hide-lg {
        display: none;
    }
}